{% extends "layout.html" %}

{% block content %}
<br/>
<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    102, 11-3, Yonsei-ro 2da-gil<br />
    Seodaemun-gu<br />
    Seoul, Republic of Korea<br />
    <abbr title="Phone">P:</abbr>
    +82) 010 . 9124 . 4697
</address>

<address>
    <strong>CEO 1:</strong>   <a href="mailto:youhwa@munecorp.com">youhwa@munecorp.com</a><br />
    <strong>CEO 2:</strong> <a href="mailto:superokb@munecorp.com">superokb@munecorp.com</a>
</address>

{% endblock %}
